*{
 font-family: Roboto;

}

body, html {
    height: 80%;
    margin: 0;
}

body {
    background-color: rgb(151, 184, 254);
    align-content: center;
}

.bodyContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentbox {
    padding: 50px 100px;
    background-color: rgb(228, 242, 252);
    border-radius: 20px;
    border-style: none;
    width: 60vw;
    height: 100vw;
}

p{
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
}

header {
    font-size: 1.5rem;
    text-align: center;
    font-display: rgb(104, 152, 254);

}

.inputRow {
    display: flex;
justify-content: space-between;
}

.inputSection > input, .inputSection > select {
    border: 1px solid #aaa;
    border-radius: 20px;
    padding: 10px 15px;
    width: 25vw;
}

.inputSection > select {
    width: calc(25vw + 30px);
}


.inputHelperText {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 10px;
    color: #555;
}

.checkboxContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.checkboxContainer > label {
    width: 20vw;
}

/* .checkboxContainerRow > label {
    flex: 4;
}

.checkboxContainerRow2 > label {
    flex: 6 !important;
} */



/* CSS to style the "select" element */


/* CSS to style the "input" field for phone number */



.healthHistory {
    margin-bottom: 20px;
  }
  
  /* Style for the condition labels and checkboxes */
  .container {
    margin-bottom: 10px;
    font-size: 16px;
    margin-right: 50px;
  }
  
  /* Style the custom checkmark when the checkbox is checked */
  .container input:checked ~ .checkmark {
    background-color: #2196F3; /* Use a different color for checked checkbox */
  }


  #paragraph1 , #paragraph2{
    margin-top: 20px;
    padding: 0%;
    width: 100%;
    height: 100px;
    border-radius: 20px;
    border: 1px solid #aaa;
  }

  .paragraph1::placeholder {
    color: #999;
    padding-left: 10px;

}

button{
    background-color: rgb(104, 152, 254);
    width: 150px;
    height:60px;
    border: none;
    color: white;
    border-radius: 30px;
    margin-top: 40px;
    text-align: center;
    margin-left: 40%;
    font-size: medium;
    
}

button:hover{
    background-color: rgb(92, 180, 113);
}
  

  